body
{
    background-color: olive;
}
h1
{
	font-family: 'Style Script', cursive;
	font-size: 70px;
	color: gold;
	margin: auto;
    margin-top: 2%;
	text-align: center;
	/*display: none;*/
}

div img
{
	box-shadow: 10px 20px 15px ;
	border-radius: 50%;
	z-index: 1000;
	display: none;
}
#container
{
	position: relative;
	border: 7px solid rgba(77, 38, 2, 0.801);
	border-radius: 50%;
	box-shadow: 10px 15px 20px;
	height: 30vw;
	width: 30vw;
/*	height: 440px;
	width: 440px;*/
	background: url(res/clock0.png) no-repeat ;
	background-size: 100% ;
	margin: auto;
}
#hours , #minutes , #seconds , #dot
{
	transform-origin: bottom;
}
#hours
{
	position: absolute;
	background: black;
	border-radius: 20px;
	width: 2%;
	height: 26%;
	top: 24.3%;
    left: 48.79%;
	/*display:  none;*/
}
#minutes
{
	position: absolute;
	background: black;
	border-radius: 25px;
	width: 1.8%;
	height: 30%;
	top: 20%;
	left: 48.89%;
	opacity: 0.8;
	/*display: none;*/
}
#seconds
{
	position: absolute;
	background: gold;
	border-radius: 55px;
	width: 0.9%;
	height: 40%;
	top: 10%;
	left: 49.3%;
	/*display: none;*/
}
#dot
{
	position: absolute;
	border-radius: 50%;
	background: black;
	width: 7%;
	height: 7%;
	top: 46%;
	left: 46.3%;
	/*display: none;*/
}
footer{
    position: fixed;
    bottom: 0;
    width: 100%; 
    background-color:  rgba(77, 38, 2, 0.801);
}

